/* Logo */
#logo {
	display: block;
	float: left;
	margin: 20px 0 10px 0;
}

/* Primary Navigation */
#nav {
	@include no-list;
	margin: 50px 0 0 0;
	
	.nav-flyout {
		display: none;
		position: absolute;
		z-index: 20;
		top: 139px;
		left: 0;
		right: 0;
		background: $colorPrimary;
		padding: 20px 0;
		@include box-shadow(0 10px 10px rgba(0,0,0,0.3));
	}
	
	li {
		@include no-list;
		display: block;
		float: left;
		
		a {
			display: block;
			float: left;
			font-weight: bold;
			color: $colorPrimary;
			text-decoration: none;
			padding: 10px;
			font-size: 17px;
			line-height: 17px;
			@include border-radius(4px);
			margin: 0 0 10px 0;
		}
		
		ul {
			@include no-list;
			margin: 0 0 15px 0;
			
			li {
				@include no-list;
				float: none;
				background: none; 
				
				a {
					float: none;
					margin: 0 !important;
					padding: 0;
					font-weight: normal;
					font-size: 15px;
					background: transparent url('../img/list-arrow.png') no-repeat left center !important;
					display: block;
					padding: 7px 20px 7px 20px;
					color: $colorMainMenu;
					@include border-radius(0);
					border-bottom: 1px solid $colorHover;
				}

				a:hover, a:focus {
					text-decoration: none;
					background-color: lighten($colorHover, 5%) !important;
				}
			}
		}
		
		.nav-flyout {
			a.button-portal {
				@include inline-block;
				background: $colorButtonBackgroundHover; // $colorHover;
				color: $colorButton;
				padding: 13px 20px;
				font-size: 18px;
				line-height: 18px;

				&:hover, &:focus {
					background: lighten($colorHover, 5%);
				}
			}
		}
	}
		
	li.has-sub {
		> a {
			padding-bottom: 10px;
			padding-right: 30px;
			margin-bottom: 10px;
			position: relative;
		}
		
		> a:before {
			@extend .fa;
			@extend .fa-caret-down;
			position: absolute;
			top: 11px; 
			right: 11px;
		}
	}
	
	blockquote {
		padding: 20px;
		opacity: 0.7;
		min-height: 40px;

		p {
			color: $colorMainMenu;
			font-size: 18px;
			line-height: 24px;
			font-style: italic;
			padding: 0;
			margin: 0;
		}

		p.author {
			font-style: normal;
			font-size: 15px;
			font-weight: bold;
			padding: 10px 0;
		}

		p.quote:before {
			content: '';
			width: 42px;
			height: 37px;
			background: url('../img/quote.png') no-repeat center center;
			display: block;
			float: left;
			margin-right: 20px;
		}
	}
	
	p.nav-excerpt {
		color: $colorLightest;
		font-size: 15px;
		line-height: 24px;
		font-style: normal;
		padding: 0;
		margin: 0;
	}
}

#nav li.level1.focus.has-sub > a,
.no-js #nav li.has-sub > a {
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: $colorMainMenu;
}

.no-js #nav li.level1:hover a, 
.no-js #nav li.active a, 
.no-js #nav li.level1:focus a, 
#nav li.focus a {
	background-color: $colorPrimary;
	color: $colorLightest;	
}

.no-js #nav li.level1 a:hover, 
.no-js #nav li.level1 a:focus {
	background-color: $colorHover; // $colorPrimary;
	color: $colorMainMenu;
}

.no-js #nav li.has-sub a:hover, 
.no-js #nav li.has-sub a:focus, 
.no-js #nav li.has-sub.active, 
.no-js #nav li.has-sub:hover a, 
.no-js #nav li.has-sub:focus a, 
#nav li.has-sub.focus a {
	background-position: right -28px;
	color: $colorMainMenu;
}


body.admin-bar #nav .nav-flyout {
	top: 171px;
}

.no-js #nav li.level1:hover .nav-flyout, 
.no-js #nav li.level1:focus .nav-flyout, 
#nav li.focus .nav-flyout {
	display: block;
}

.nav-fixed {
	padding-top: 95px;
	
	#header {
		position: fixed;
		top: -10px;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 200;
		@include box-shadow(0 1px 3px rgba(0,0,0,0.3));
	}
	
	#nav .nav-flyout {
		top: 85px;
	}
}

body.admin-bar.nav-fixed {
	#header {
		top: 22px;
	}
	
	#nav .nav-flyout {
		top: 85px;
	}
}

/* Mobile Navigation Toggle Button */
#nav-toggle {
	position: absolute;
	top: 45px;
	right: 15px;
	width: 25px;
	
	div {
		height: 3px;
		background: $colorPrimary;
		margin-bottom: 3px;
	}
}


/* Meta */
#meta {
	@include placeholder(#fff);
	background: $colorMetaBackground;
	
	.searchform {
		border: none;
		margin: 0;
		padding: 5px 0;
		float: right;
		
		
		input[type="text"] {
			@include border-radius(20px);
			padding: 5px 35px 5px 35px;
			width: 150px;
			font-size: 13px;
			line-height: 15px;
			float: left;
			background: $colorMeta url('../img/icon-search.png') no-repeat 10px center;
			border: none;
			outline: none;
			color: #fff;
			height: 20px;
			display: inline-block;
			margin-right: -25px;
			margin-bottom: 0px;
			&:focus {
				background-color: $colorMetaHover;
			}
		}
		
		input[type="submit"] {
			@include border-radius(20px);
			position: relative;
			z-index: 100;
			margin-right: 20px;
			height: 30px;
			padding: 0 12px;
			font-weight: bold;
			border: none;
			outline: none;
			color: $colorMeta;
			background: #fff;
			font-size: 13px;
			line-height: 15px;
			display: inline-block;
			
			&:hover, &:focus {
				background: $colorMetaLightest;
				@include box-shadow(0 0 5px rgba(0,0,0,0.2));
			}
		}
		
		label {
			@extend .unsichtbar;
		}
	}
}

/* Meta-Navigation */
#meta-nav {
	@include no-list;
	padding: 0;
	
	li {
		@include no-list;
		@include inline-block;
		margin-right: 8px;
		background: none;
		position: relative;
		
		a {
			@include inline-block;
			padding: 10px 0;
			color: $colorMeta;
			font-size: 13px;
			text-decoration: none;
		}
		
		a:hover {
		    text-decoration: underline;
		}
		&:hover a, &:focus a {
			text-decoration: underline;
		} 
	}
	
	li.has-sub {
		margin-right: 0;
		
		> a {
			padding-right: 25px;
			position: relative;
		}
		
		> a:before {
			@extend .fa;
			@extend .fa-caret-down;
			position: absolute;
			top: 15px; 
			right: 11px;
		}
	}
	li.fauhome {
	    background: $colorMetaFAUHomeBackground;
	    padding-right: 10px;
	}
	li.fauhome:before {
	    @extend .fa;
	    @extend .fa-long-arrow-up;
	    margin-left: 5px;
	    margin-right: 5px;
	}
	
	
	ul.sub-menu {
		@include no-list;
		display: none;
		position: absolute;
		top: 35px;
		left: -10px;
		background: $colorMetaLightest;
		width: 180px;
		@include box-shadow(0 3px 3px rgba(0,0,0,0.2));
		
		li {
			@include no-list;
			display: block;
			
			a {
				padding: 4px 10px;
				margin: 0;
				display: block;
				text-decoration: none;
				background: none;
				
				&:hover, &:focus {
					background: #fff;
					text-decoration: none;
				}
			}
		}
	}
	
	li:hover ul.sub-menu, 
	li.focus ul.sub-menu {
		display: block;
	}
}

/* Hero */
#hero {
	@include placeholder(#fff);
	margin-top: 20px;
	padding-bottom: 10px;
	position: relative;
	@include radial-gradient-image($colorPrimaryHero, lighten($colorPrimaryHero, 15%), url($siegelurl) no-repeat 95% 155%);
	@include transition(1.0s, all);
	
	h1, h2, h3, h4, p {
		font-weight: normal;
		color: #fff;
		margin: 10px 0;
		padding: 0;
	}
	h1 {
	    position: relative;
	    z-index: 10;
	}
	
	a {
		color: #fff;
	}
	
	ul {
		@include no-list;
	}
	
	li {
		font-size: 13px;
		padding-left: 20px;
		padding-bottom: 5px;
		background: url("../img/list-arrow.png") no-repeat left 4px;
	}
	
	&.hero-small {
		@include radial-gradient-image($colorPrimaryHero, lighten($colorPrimaryHero, 15%), url($siegelurl) no-repeat 95% 20%);
		
		h1 {
			padding: 30px 0 10px 0;
		}
	}
	
	.container {
		position: relative;
	}
	
	.hero-meta-portal {
		position: absolute;
		bottom: 23px;
		right: 100px;
		text-align: right;
		color: lighten($colorPrimary, 15%);
		font-size: 60px;
		line-height: 50px;
	}
	
	.flyout-toggled & {
		opacity: 0.3;
	}
	
	.searchform {
		padding: 35px 0 0 0;
		border: none;
		@include placeholder($colorSearchPlaceholder);
		label {
			color: #fff;
		}
		
		input[type="text"] {
			@include border-radius(20px);
			padding: 10px 10px 10px 40px;
			width: 300px;
			font-size: 15px;
			line-height: 15px;
			float: left;
			margin-right: 10px;
			background: $colorSearchInputBackground url('../img/icon-search.png') no-repeat 15px center;
			border: none;
			outline: none;
			color: $colorSearchInput;
			
			&:focus {
				background-color: $colorSearchInputBackgroundFocus;
			}
		}
		
		input[type="submit"] {
			@include border-radius(20px);
			border: none;
			background: #fff;
			color: #444;
			font-size: 15px;
			line-height: 15px;
			padding: 0 15px;
			display: block;
			box-sizing: padding-box;
			height: 40px;
			color: #444;
		}

		.search-radio-label {
			float: left;
			margin-right: 20px;
			
			input {
				margin-top: -4px;
				margin-right: 3px;
			}
		}
	}
	
	.hero-jumplink-content {
		position: absolute;
		left: 300px;
		right: 300px;
		bottom: 0;
		//text-indent: -9999em;
		display: none;
		height: 25px;
		text-align: center;
		text-decoration: none;
		@extend .fa;
		@extend .fa-3x;
		@extend .fa-angle-down;
		
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}


/* Hero Slider */
#hero-slides {
	position: relative;
	top: -20px;
	margin: 0 auto -15px auto;
	height: 350px;
	background: #fff;
	max-width: 1260px;
	overflow: hidden;
	@include box-shadow(0 10px 20px rgba(0,0,0,0.5));
	
	.hero-slide {
		position: relative;
		
		img {
			height: 350px;
			max-width: 1260px;
			width: 1260px;
			left: 50%;
			margin-left: -630px;
			position: relative;
			z-index: 5;
			top: 0;
		}
		
		h2 {
			color: #fff;
			background: $colorPrimary;
			display: inline;
			padding: 0 3px;
			margin: 0;
		}
		
		p {
			@include inline-block;
			color: #fff;
			background: $colorPrimary;
			padding: 0 3px;
			margin: 4px 0;
			font-size: 18px;
			max-width: 600px;
		}
		
	}
	
	.hero-slide-text {
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		z-index: 10;
		width: 100%;
	}
}

/* Content Area */
#content {
	padding: 20px 0 20px 0;
	
	.wp-caption {
		max-width: 100%;
	}
	
	img {
		@include box-shadow(0 1px 2px rgba(0,0,0,0.3));
		max-width: 100%;
	}
	
	.logos-menu .logo-item img {
		@include box-shadow(none);
	}
	
	img.error-404-persons {
		@include box-shadow(none);
		margin: 0 auto -22px auto;
		display: block;
	}
	
	blockquote {
		font-style: italic;
		background: url('../img/quote-blue.png') no-repeat left top;
		margin: 10px 50px;
		padding-left: 60px;
		min-height: 50px;

		p {
			color: $colorPrimary;
		}
	}
}

#comments {
    clear: both;
    code {
	white-space: normal;
	color: $colorLightestContrast;
	background-color: $colorLightest;

    }
    label {
	float: none;
    }
    textarea {
	width: 90%;
	max-width: 600px;
    }
    ul li {
	background: none;
    }
    .form-allowed-tags {
	opacity: 0.7;
    }
    h2 {
	padding-bottom: 10px; 
    }
    p.attention {
	margin: 0px;
    }
    .comment-body {
	border-left: 2px solid $colorLightest;
	font-style: initial;
	padding: 10px 0 5px 10px;
		opacity: 0.7;
		min-height: 40px;

		p {
			font-size: 16px;
			line-height: 24px;
			font-style: italic;
			padding: 0;
			margin: 0;
		}

		p.quote:before {
			content: '';
			width: 42px;
			height: 37px;
			background: url('../img/quote.png') no-repeat center center;
			display: block;
			float: left;
			margin-right: 20px;
		}
} 
    .comment-details {
			font-style: normal;
			font-size: 15px;
			font-weight: bold;
			padding: 10px 0;
		}
    
}


/* Sub-Navigation */
#subnav {
	@include no-list;
	
	ul, li {
		@include no-list;
	}
	
	a {
		text-decoration: none;
		display: block;
		line-height: 18px;
		font-size: 14px;
		padding: 6px 15px;
		color: $colorSubNav;
		background: $colorSubNavBackground;
		padding-left: 15px;
		padding-right: 15px; 

		&:hover, &:focus {
			background-color: $colorSubNavBackgroundHover;
		}
	}
	
	ul {
		display: none;
	}
	
	> li {
		border-bottom: 1px solid #fff;
	}
	
	.current_page_item, 
	.current_page_ancestor {
		a {
			color: $colorSubNavCurrent;
			background-color: $colorSubNavCurrentBackground; // #d0d8e6;
			border: none;
			
			&:hover, &:focus {        
				background-color: $colorSubNavCurrentHoverBackground; // #b9c4d6;
				color: $colorSubNavCurrentHover; // #003366;
			}
		}
		
		> ul {
			display: block;
		}
		
		> a {
			font-weight: bold;
		}
	}
	
	li li a {
		padding-left: 25px;
	}
	
	li li li a {
		padding-left: 35px;
		font-size: 13px;
	}
	
	li li li li a {
		padding-left: 45px;
		
		&:hover, &:focus {
			background: $colorSubNavBackgroundHover; // #7a8ba7 !important;
			color: $colorSubNav; // #fff !important;
		}
	}
	
	li .current_page_item,
	li .current_page_ancestor {
		a {
			background: $colorSubNavCurrentBackground; // #b9c4d6;
		}
		
		li {
			a:hover, a:focus {
				background: $colorSubNavCurrentHoverBackground; // #98a5bc;
			}
		}
	}
	
	li .current_page_ancestor .current_page_item a {
		background: $colorSubNavCurrentHoverBackground; // #98a5bc;
	}
	
	li li .current_page_ancestor a {
		background: $colorSubNavCurrentHoverBackground; // #98a5bc;
	}
	
	li li li li a,
	li li li li.current_page_item a {
		background: $colorSubNavBackgroundHover; // #7a8ba7 !important;
		color: $colorSubNavCurrent; // #fff !important;
	}
	
	li.protected-page a {
		padding-right: 40px;
		background-image: url('../img/protected-page.png');
		background-repeat: no-repeat;
		background-position: right center;
	}
	

}


/* Social */
#social {
	background: $colorLightest;
	padding: 20px 0;
	margin-bottom: -30px;
	margin-top: 30px;
	
	.textwidget, 
	p, 
	h2 {
		color: $colorSocial;
		padding-top: 0;
	}
	
	ul.social {
		@include no-list;
		margin: 0 0 10px 0;
		
		li {
			@include no-list;
			background: none !important;
			
			a {
				@include inline-block;
				color: $colorSocial;
				text-decoration: none;
				height: 20px;
				line-height: 20px;
				padding: 5px 0;
				background: none;

				&:hover, &:focus {
					color: $colorPrimary;
					
					&:before {
						background: $colorPrimary;
					}
				}
			}
			
			a:before {
			//	@extend .fa;
			//	@extend .fa-lg;
				background: $colorSocial;
				color: $colorLightest;
				height: 21px;
				width: 24px;
				padding-top: 3px;
				line-height: 24px;
				text-align: center;
				@include border-radius(12px);
				font-size: 16px;
				margin-right: 6px;
			}
		}
		
		/*
		li.social-facebook a:before { @extend .fa-facebook-square; }
		li.social-twitter a:before { @extend .fa-twitter-square; }
		li.social-gplus a:before { @extend .fa-google-plus-square; }
		li.social-youtube a:before { @extend .fa-youtube-square; }
		li.social-vimeo a:before { @extend .fa-vimeo-square; }
		li.social-flickr a:before { @extend .fa-flickr; }
		li.social-xing a:before { @extend .fa-xing-square; }
		li.social-pinterest a:before { @extend .fa-pinterest-square; }
		li.social-feed a:before { @extend .fa-rss-square; }
		li.social-delicious a:before { @extend .fa-delicious; }
		li.social-skype a:before { @extend .fa-skype; }
		li.social-tumblr a:before { @extend .fa-tumblr-square; }
		li.social-github a:before { @extend .fa-github-square; }
		*/
		li.social-facebook a:before { @extend .jv-facebook; }
	 	li.social-diaspora a:before { @extend .fa; @extend .fa-3x; content: '*'; vertical-align: -5px; line-height: 37px; }
		li.social-identica a:before { @extend .jv-identi-ca; }
		li.social-skype a:before { @extend .jv-skype; }
		li.social-itunes a:before { @extend .jv-itunes; }
		li.social-twitter a:before { @extend .jv-twitter; }
		li.social-gplus a:before { @extend .jv-google; }
		li.social-youtube a:before { @extend .jv-youtube; }
		li.social-vimeo a:before { @extend .jv-vimeo; }
		li.social-flickr a:before { @extend .jv-flickr; }
		li.social-xing a:before { @extend .jv-xing; }
		li.social-pinterest a:before { @extend .fa-pinterest-p; @extend .fa; @extend .fa-lg; line-height: 1.0em;}
		li.social-feed a:before { @extend .jv-rss; }
		li.social-delicious a:before { @extend .jv-delicious; }
		li.social-skype a:before { @extend .jv-skype; }
		li.social-tumblr a:before { @extend .jv-tumblr; }
		li.social-github a:before { @extend .jv-github; }
	}
	
	iframe {
		width: 220px !important;
		height: 160px !important;
	} 
 
}

/* Footer */
#footer {
	background: $colorPrimaryHero;
	color: #fff;
	padding: 20px 0;
	
	p {
		color: #fff;
		font-size: 13px;
		line-height: 18px;
	}
	
	a {
		color: #fff;
		text-decoration: none;
	}
	
	li {
		font-size: 13px;
	}
	
	a:hover, a:focus {
		text-decoration: underline;
	}
}

/* Footer Navigation */
#footer-nav {
	@include no-list;
	text-align: right;
	
	li {
		@include no-list;
		display: inline;
		margin-left: 8px;
		background: none;
	}
}