// Define breakpoints
$breakSM: 480px;
$breakMD: 767px;
$breakLG: 979px;

// Define fonts
$fontStack: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontStackSerifs: Georgia, serif;

// Define text colors
$colorText:		#444;
$colorTextLight:	#888;

// Define notice colors
$colorNotice: 		#a71c18;

// Define colors of each faculty
$colorPhilFak:	    #ad841f;
$colorRwFak:	    #801429;
$colorMedFak:	    #00b1c6;
$colorNatFak:	    #009775;
$colorTechFak:	    #a3acb2;
$colorTechFakDark:  #6a7881;
$colorZUV:	    #003366;
$colorDefault:	    #003366;

$colorStandardHellgrau:	    #e9edf2;


// Define primary colors by faculty
$colorPrimary: $colorTechFakDark;	// darken($colorPhilFak, 10%);
// If ColorPrimary is used as background, wie need a contrast color
$colorPrimaryContrast: #fff;

// $colorHover: 	desaturate(lighten($colorPrimary, 10%), 40%);
// $colorLight:	desaturate(lighten($colorPrimary, 69%), 75%);
// $colorLightest:	desaturate(lighten($colorPrimary, 73%), 75%);

// Helper for colors: 
// Philfak: http://paletton.com/#uid=1140u0kqhlIhItGmqp-unhvDIc9  
// Medfak: http://paletton.com/#uid=13l0u0kiCFn8GVde7NVmtwSqXtg
// RWFak: http://paletton.com/#uid=15v0u0kuiiUvNtru4nlwudexs7O
// Natfak: http://paletton.com/#uid=13b0u0kw0tpsSJEvcC8ugnrubio

$PalettonHellste:	#aebac2;
$PalettonHeller:	#829099;
$PalettonDunkler:	#58646c;
$PalettonDunkelste:	#475055;


$colorHover:		    $PalettonDunkelste;
$colorLight:		    $PalettonHeller;
$colorLightContrast:	    #fff;
$colorLightest:		    $PalettonHellste;
$colorLightestContrast:	    $PalettonDunkelste;
$colorPrimaryHero:	    $colorPrimary;


$colorSubNavCurrent:		#fff;
$colorSubNavCurrentBackground:  $PalettonDunkler;
$colorSubNavCurrentHover:	#fff;
$colorSubNavCurrentHoverBackground: $colorHover;
$colorSubNav:			$PalettonDunkelste;
$colorSubNavBackground:		$colorLightest;
$colorSubNavBackgroundHover:	darken($colorSubNavBackground, 3%);
$colorMainMenu:			#fff;

$colorButton:			$PalettonDunkelste;
$colorButtonBackground:		$colorLightest;
$colorButtonBackgroundHover:	darken($colorButtonBackground, 3%);

$colorSearchPlaceholder:        #111;
$colorSearchInput:		#000;
$colorSearchInputBackground:	$colorLightest; // #5586b6;
$colorSearchInputBackgroundFocus:  #fff; // #5e91c3;

// Meta Menu
$colorMeta:			$colorDefault;
// Define Background-Color for Meta Menu at top
$colorMetaBackground:		$colorStandardHellgrau;
$colorMetaFAUHomeBackground:	desaturate(darken($colorStandardHellgrau, 10%), 90%); // #d0d3d8;
$colorMetaHover:		desaturate(lighten($colorDefault, 10%), 40%);
$colorMetaLight:		desaturate(lighten($colorDefault, 69%), 75%);
$colorMetaLightest:		desaturate(lighten($colorDefault, 73%), 75%);

$colorPasspartoutBackground:	$colorStandardHellgrau;

// Social Bar Startseite
$colorSocial: $colorButton; // #a1aab1

// Define Siegel
$siegelurl: '../img/siegel-techfak.png';
// ZUV:  '../img/siegel-zuv.png'
// Philfak:  '../img/siegel-philfak.png'
// Medfak:  '../img/siegel-medfak.png'
// RW:  '../img/siegel-rwfak.png'
// Natfak:  '../img/siegel-natfak.png'
// Techfak:  '../img/siegel-techfak.png'
// White:  '../img/siegel.png'
